<h1 id="tableLabel">Crime Search</h1>


<div style="display: inline-block">
  <form class="form-style-9">
    <div *ngFor="let searchParam of searchParameters">
      <div class="padding-10px min-width-form inline">
        <strong>{{searchParam.displayName}}</strong>
      </div>

      <div class="padding-10px min-width-form inline">
        <select name="x" [(ngModel)]="searchParam.searchOperator">
          <option *ngIf="searchParam.fieldName.indexOf('datE') == -1" value="=">=</option>
          <option value=">">></option>
          <option value=">=">>=</option>
          <option value="<"><</option>
          <option value="<="><=</option>
          <option *ngIf="searchParam.fieldName.indexOf('datE') == -1" value="!=">!=</option>
        </select>
      </div>


      <div class="padding-10px min-width-form inline" *ngIf="searchParam.fieldName.indexOf('datE') > -1" style="display: inline-block">
        <input type="datetime-local" id="start" name="trip-start"
               value="any date"
               min="2021-01-01" max="2021-12-31" [(ngModel)]="searchParam.searchValue">
      </div>

      <div class="padding-10px min-width-form inline" *ngIf="searchParam.fieldName.indexOf('datE') == -1" style="display: inline-block">
        <input name="x" type="text" placeholder="any value" [(ngModel)]="searchParam.searchValue" />
      </div>
    </div>
  </form>

  <button (click)="search()" style="float: right; margin-top: 30px" class="button">Search</button>
</div>


<div style="margin-top: 30px"><i>limited to 1000 rows</i></div>

<div *ngIf="!crimes">
  <h2 style="padding: 20px"><i>Loading...</i></h2>
</div>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="crimes">
  <thead>
    <tr>
      <th>INCIDENT_NUMBER </th>
      <th>DATE_REPORTED </th>
      <th>DATE_OCCURED </th>
      <th>UOR_DESC </th>
      <th>CRIME_TYPE </th>
      <th>NIBRS_CODE </th>
      <th>UCR_HIERARCHY </th>
      <th>ATT_COMP </th>
      <th>LMPD_DIVISION </th>
      <th>LMPD_BEAT </th>
      <th>PREMISE_TYPE </th>
      <th>BLOCK_ADDRESS </th>
      <th>CITY </th>
      <th>ZIP_CODE </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let crime of crimes">
      <td>{{ crime.incidenT_NUMBER }}</td>
      <td>{{ crime.datE_REPORTED }}</td>
      <td>{{ crime.datE_OCCURED }}</td>
      <td>{{ crime.uoR_DESC }}</td>
      <td>{{ crime.crimE_TYPE }}</td>
      <td>{{ crime.nibrS_CODE }}</td>
      <td>{{ crime.ucR_HIERARCHY }}</td>
      <td>{{ crime.atT_COMP }}</td>
      <td>{{ crime.lmpD_DIVISION }}</td>
      <td>{{ crime.lmpD_BEAT }}</td>
      <td>{{ crime.premisE_TYPE }}</td>
      <td>{{ crime.blocK_ADDRESS }}</td>
      <td>{{ crime.city }}</td>
      <td>{{ crime.ziP_CODE }}</td>

    </tr>
  </tbody>
</table>
