<h1 id="tableLabel">Crime Search</h1>


<div style="display: inline-block">
  <form *ngFor="let searchParam of searchParameters" class="form-inline">
    <div class="form-group" style="display: inline-block; min-width: 175px">
      <div><b>{{searchParam.displayName}}</b></div>
    </div>

    <div class="form-group">
      <select class="form-control" name="operator-selection" [(ngModel)]="searchParam.searchOperator">
        <option *ngIf="searchParam.fieldName.indexOf('datE') == -1" [value]="'='">=</option>
        <option [value]="'>'">></option>
        <option [value]="'>='">>=</option>
        <option [value]="'<'"><</option>
        <option [value]="'<='"><=</option>
        <option *ngIf="searchParam.fieldName.indexOf('datE') == -1" [value]="'!='">!=</option>
      </select>
    </div>

    <div *ngIf="searchParam.fieldName.indexOf('datE') > -1" class="padding-10px inline form-group" style="display: inline-block">
      <input  type="datetime-local" name="date"
             value="any date"
             min="2021-01-01" max="2021-12-31" [(ngModel)]="searchParam.searchValue" class="form-control min-width-form">
    </div>


    <div class="padding-10px inline form-group" *ngIf="searchParam.fieldName.indexOf('datE') == -1" style="display: inline-block">
      <input name="x" type="text" placeholder="any value" [(ngModel)]="searchParam.searchValue" class="form-control min-width-form" />
    </div>



  </form>

  <button type="submit" class="btn btn-primary" (click)="search()" style="float: right; margin-top: 30px">Search</button>

</div>


<div style="margin-top: 30px"><i>search results limited to 1000 rows</i></div>

<div *ngIf="!crimes">
  <h2 style="padding: 20px"><i>Loading...</i></h2>
</div>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="crimes">
  <thead>
    <tr>
      <th>INCIDENT NUMBER </th>
      <th>DATE REPORTED </th>
      <th>DATE OCCURED </th>
      <th>UOR DESC </th>
      <th>CRIME TYPE </th>
      <th>NIBRS CODE </th>
      <th>UCR HIERARCHY </th>
      <th>ATT COMP </th>
      <th>LMPD DIVISION </th>
      <th>LMPD BEAT </th>
      <th>PREMISE TYPE </th>
      <th>BLOCK ADDRESS </th>
      <th>CITY</th>
      <th>ZIP CODE </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let crime of crimes">
      <td>{{ crime.incidenT_NUMBER }}</td>
      <td>{{ crime.datE_REPORTED }}</td>
      <td>{{ crime.datE_OCCURED }}</td>
      <td>{{ crime.uoR_DESC }}</td>
      <td>{{ crime.crimE_TYPE }}</td>
      <td>{{ crime.nibrS_CODE }}</td>
      <td>{{ crime.ucR_HIERARCHY }}</td>
      <td>{{ crime.atT_COMP }}</td>
      <td>{{ crime.lmpD_DIVISION }}</td>
      <td>{{ crime.lmpD_BEAT }}</td>
      <td>{{ crime.premisE_TYPE }}</td>
      <td>{{ crime.blocK_ADDRESS }}</td>
      <td>{{ crime.city }}</td>
      <td>{{ crime.ziP_CODE }}</td>

    </tr>
  </tbody>
</table>
